name: AWS Deploy
on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:

  changes:
    name: Detect file changes
    runs-on: ubuntu-latest
    outputs:
      src: ${{ steps.filter.outputs.src }}

    steps:
      - uses: actions/checkout@v6

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            src:
              - 'src/**'

  deploy:
    name: S3 Sync / CFront cache clear
    runs-on: ubuntu-latest
    needs: changes
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'stage' }}
    if: ${{ needs.changes.outputs.src == 'true' || contains(github.event.head_commit.message, '[force sync]') }}

    steps:
      - uses: actions/checkout@v6

      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          unset-current-credentials: true
          aws-region: ${{ vars.AWS_S3_BUCKET_REGION }}
          role-to-assume: ${{ vars.AWS_GH_OIDC_ROLE }}

      - name: Sync files to the S3
        run: |
          aws s3 sync --delete src s3://${{ vars.AWS_S3_BUCKET }}

      - name: Invalidate CloudFront distribution cache and wait
        run: >
          aws cloudfront create-invalidation
          --distribution-id ${{ vars.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
          --paths "/*"
          --output json | tee cf_inv.json

          echo Waiting for Invalidation: $(cat cf_inv.json | jq -r .Invalidation.Id)

          aws cloudfront wait invalidation-completed
          --distribution-id ${{ vars.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
          --id $(cat cf_inv.json | jq -r .Invalidation.Id)
